*{
    padding: 0;
    margin: 0;
}
section{
    font-size: 1.2rem;
    background-color: rgba(235, 186, 8, 0.94);
    display: flex;
    border: 2px solid whitesmoke;
  
    justify-content: space-between;
  
   
}


nav{
    font-size: 1.4rem;

    display: flex;

    align-items: center;

    

}


ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 400px;
    justify-items: center;
}


.img1{
position: 0px 105px;
    color: white;
   
  
}


li{
    padding: 15px 15px;
    text-justify: distribute-all-lines;


}



.styled {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 35px;
    background-color:black;
    background-image: linear-gradient(to top left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6), inset -2px -2px 3px rgba(0, 0, 0, 0.6);
    margin: 48px;
}

.styled:hover {
    background-color: rgba(255, 0, 0, 0.438);
}

.styled:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6), inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}


@media screen and (max-width:100px) {
    nav{
        flex-direction: column;
    }
    ul{
        flex-direction: column;
    }}